{% import "partials/spool_macros.html" as sm %}
<table class="reference-table spool-table" id="spool-table">
  <thead>
    <tr>
      <th class="thumb-cell"></th>
      <th>{{ sm::sort_link(key="brand", label="Brand", sort=sort, dir=dir, brand=filter_brand_str, material=filter_material_str, colour=filter_colour_str) }}</th>
      <th>{{ sm::sort_link(key="material", label="Material", sort=sort, dir=dir, brand=filter_brand_str, material=filter_material_str, colour=filter_colour_str) }}</th>
      <th>{{ sm::sort_link(key="colour", label="Colour", sort=sort, dir=dir, brand=filter_brand_str, material=filter_material_str, colour=filter_colour_str) }}</th>
      <th>{{ sm::sort_link(key="percent", label="Remaining %", sort=sort, dir=dir, brand=filter_brand_str, material=filter_material_str, colour=filter_colour_str) }}</th>
      <th>{{ sm::sort_link(key="remaining_g", label="Remaining (g)", sort=sort, dir=dir, brand=filter_brand_str, material=filter_material_str, colour=filter_colour_str) }}</th>
      <th>{{ sm::sort_link(key="purchase_date", label="Purchased", sort=sort, dir=dir, brand=filter_brand_str, material=filter_material_str, colour=filter_colour_str) }}</th>
    </tr>
  </thead>
  <tbody id="spool-rows">
    {% include "partials/spool_rows.html" %}
  </tbody>
</table>
